[submodule "core/imgdata"]
path = core/imgdata
url = https://github.com/chqy99/imgdata.git
branch = v0.0.1
[submodule "core/core/imgdata"]
	path = core/core/imgdata
	url = https://github.com/chqy99/imgdata.git
